.task-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .task-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
  }
  .task-exit {
    opacity: 1;
    transform: scale(1);
  }
  .task-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms, transform 500ms;
  }
  .task-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .task-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
  }
  .task-exit {
    opacity: 1;
    transform: scale(1);
  }
  .task-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms, transform 500ms;
  }
    